<h1>message list</h1>
<% @posts.each do |post| %>
	<h3>Message ID:  <%= post.id %></h3>
	<p>From: <%= post.from %><br>
	To: <%= post.to %><br>
	Private: <%= post.conf %><br>
	Message: <%= post.body %></p>
<% end %>